
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

.footer{
    /* border: solid gold 2px; */
    display: flex;
    flex-direction: column 2;
    height: 140px;
    width: 100%;
    background-color: black;
}

.colonna{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sx{
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: monospace;
}

.dx{
    /* border: solid rgb(104, 56, 64) 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon{
    /* border: solid red 2px; */
    /* background-color: white; */
    color: white;
    z-index: 1;
    display: flex;
}



.sx p{
    /* border: solid green 2px; */
    font-size: 110%;
    padding: 3px;
    text-decoration: underline;
}
