
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

/******************************************/
/* CSS immagine iniziale e didascalia  */
/******************************************/

.imageContainer{
    /* border: solid red 2px; */
    width: 100%;
    height: 500px;
    margin-top: 90px;
    margin-bottom: 70px;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.caption{
    /* border: solid red 2px; */
    display: flex;
    text-align: center;
    padding: 5px; 
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    z-index: 10;
}

.caption:hover{
    background: rgba(203, 204, 203, 0.349);
}

/******************************************/
/* Diplay delle opere con i loro componenti  */
/******************************************/

.containerOpere{
    /* border: solid yellow 2px; */
    min-height: 600px;
    display: flex;
    flex-direction: column 2;
    margin-top: 30px;
    justify-content: space-around;
    align-items: flex-start;
}

.colonna {
    /* border: solid fuchsia 2px; */
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.singolaOpera{
    /* border: solid purple 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10px;
}

.immagine{
    /* border: solid green 2px; */
    display: flex;
    background: url(../images/img2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.immagineM{
    /* border: solid green 2px; */
    display: flex;
    background: url(../images/ilFalsoSpecchio.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.immagineOne{
    /* border: solid green 2px; */
    display: flex;
    background: url(../images/notteStellata.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.descrizione{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

.linkInterno{
    /* border: solid orange 2px; */
    width: 100%;
    height: 40px;
    padding: 2% 10% 2% 20%;
    text-decoration: none;
    font-size: larger;
    color: black;
}

.titolo {
    height: 50px;
    font-weight: bold;
    font-size: x-large;
}

.linkInterno:hover{
    font-size: x-large;
}

.titolo:hover{
    font-size: xx-large;
}