
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

/******************************************/
/*CSS Titolo con nome e logo museo*/
/******************************************/

.titleContainer{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
}

.title{
    padding: 10px;
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 250%;
}

.title:hover{
    font-size: 270%;
}

/******************************************/
/* CSS Navbar e componenti  */
/******************************************/

.navbar{
    /* border: solid red 2px; */
    border-top: white 1px solid;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 50px;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}

.linkNavbar{
    /* border: solid pink 2px; */
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 150%;
    padding: 5px;
}

.linkNavbar:hover{
    font-size: 170%;
    background-color: rgba(128, 128, 128, 0.582);
}

.elemNavbar{
    height: 100%;
    width: 33%;
    /* border: solid blue 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}