
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

/******************************************/
/* Diplay delle opere con i loro componenti  */
/******************************************/

.containerOpere{
    /* border: solid yellow 2px; */
    display: flex;
    flex-direction: column 2;
    margin-top: 30px;
    justify-content: space-around;
    align-items: flex-start;
}

.colonna {
    /* border: solid fuchsia 2px; */
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.singolaOpera{
    /* border: solid purple 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10px;
}


.immagine{
    /* border: solid green 2px; */
    display: flex;
    background: url(../images/notteStellata.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.immagine2{
    /* border: solid green 2px; */
    display: flex;
    background: url(../images/img2.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.immagineM{
    /* border: solid green 2px; */
    display: flex;
    background: url(../images/ilFalsoSpecchio.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.descrizione{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

.linkInterno{
    /* border: solid orange 2px; */
    width: 100%;
    height: 40px;
    padding: 2% 10% 2% 20%;
    text-decoration: none;
    font-size: larger;
    color: black;
}

.titolo {
    height: 50px;
    font-weight: bold;
    font-size: x-large;
}

.linkInterno:hover{
    font-size: x-large;
}

.titolo:hover{
    font-size: xx-large;
}

/****************************/
/*CSS Incipit*/
/****************************/

.incipit{
    /* border: solid royalblue 2px; */
    display: flex;
    flex-direction: column 2;
}

.titoli{
    /* border: solid yellow 2px; */
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 100px;
}

.titoli>h1{
    display: flex;
    margin: 1% 0 0 2%;
    font-size: 250%;
}

.titoli>p{
    display: flex;
    margin: 1% 0 2% 2.3%;
    font-size: 130%;
}

.date{
    /* border: solid brown 2px; */
    font-size: 130%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    justify-content: center;
}

.riassunto{
    /* border: solid black 2px; */
    color: black;
    display: flex;
    margin-top: 10px;
    padding-left: 2.3%;
}

h1{
    margin: 0 0 0 2.3%;
}
